In [ ]:
6*3

18

In [ ]:
6*3

18

In [ ]:
4+6

10

In [ ]:
4/5

0.8

In [ ]:
a=10
b=5

In [ ]:
add=a+b
print("Addition",add)

Addition 15

In [ ]:
subtract=a-b
print("Subtraction:",subtract)

Subtraction: 5

In [ ]:
multiply=a*b
print("Multiplication:",multiply)

Multiplication: 50

In [ ]:
divide=a/b
print("Division:",divide)

Division: 2.0

In [ ]:
h_w="Hello World"
print(h_w)

Hello World

In [ ]:
print(h_w.upper())

HELLO WORLD

In [ ]:
print(h_w.lower())

hello world

In [ ]:
print(h_w.title())

Hello World

In [ ]:
print(h_w.swapcase())

hELLO wORLD

In [ ]:
print("Hello \nWorld")

Hello
World

In [ ]:
print((h_w+" ")*3)

Hello World Hello World Hello World

In [ ]:
a=3
type(3)

int

In [ ]:
b=Subham
type(b)

NameError: name 'Subham' is not defined

In [ ]:
b=NONE

NameError: name 'NONE' is not defined

In [ ]:
b=NONE
print(b)

NameError: name 'NONE' is not defined

In [ ]:
b=None
print(b)
type(b)

None

NoneType

In [ ]:
c=None
print(c)
print(c)

None
None

In [ ]:
print("Hello","World")

Hello World

In [ ]:
d=None
print(d,d)

None None

In [ ]:
print(*object, Sep="Subham", end="Ghosh")

TypeError: print() argument after * must be an iterable, not type

In [ ]:
a=5
b=6
print("The value of a =",a,sep="Subham",end="Ghosh")

The value of a =Subham5Ghosh

In [ ]:
print(*object, sep="Subham", end="Ghosh")

TypeError: print() argument after * must be an iterable, not type

In [ ]:
print('Hello','World',sep="Subham",end="Ghosh\t")
print('Hi', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh	HiGhosh

In [ ]:
print('Hello','World',sep="Subham",end="Ghosh\n")
print('Hi', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh
HiGhosh

In [ ]:
print('Hello','World',sep="Subham",end="Ghosh\n")
print('Hi','Bye', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh
HiSubhamByeGhosh

In [ ]:
num=0o123
print(num)
type(num)

83

int

In [ ]:
num=0x123
print(num)

291

In [ ]:
num=0b101
print(num)

5

In [ ]:
num1=num2=num3=97
print(num1)
print(num2)
print(num3)

97
97
97

In [ ]:
num1,num2,num3=12,24,36
print(num1)
print(num2)
print(num3)

12
24
36

In [ ]:
a=10; print("a=",a); b=20

a= 10

In [ ]:
a=10 print("a=",a) b=20

SyntaxError: invalid syntax (2794129853.py, line 1)

In [ ]:
a=10
b=10.2
c=a+b
print(c)

20.2

In [ ]:
a="Subham"
b=261104
c=a+b
print(c)

TypeError: can only concatenate str (not "int") to str

In [ ]:
a="Subham"
b=str(261104)
print(a+b)

Subham261104

In [ ]:
print('print in "bold" letter')

print in "bold" letter

In [ ]:
print("print in 'Bold' letter")

print in 'Bold' letter

In [ ]:
print('Subham'\n'Ghosh')

SyntaxError: unexpected character after line continuation character (3112113349.py, line 1)

In [ ]:
print('Subham')
print('Ghosh')

Subham
Ghosh

In [ ]:
print('Subham\nGhosh')

Subham
Ghosh

In [ ]:
print('Subham\tGhosh')

Subham	Ghosh

In [ ]:
print('Subham\bGhosh')

SubhaGhosh

In [ ]:
b='''My Name is Subham Ghosh
I study in TE IT class and
Vaishali Maam is teaching us ML'''
print(b)

My Name is Subham Ghosh
I study in TE IT class and
Vaishali Maam is teaching us ML

In [ ]:
b.split()

['My',
 'Name',
 'is',
 'Subham',
 'Ghosh',
 'I',
 'study',
 'in',
 'TE',
 'IT',
 'class',
 'and',
 'Vaishali',
 'Maam',
 'is',
 'teaching',
 'us',
 'ML']

In [ ]:
b.startswith('S')

False

In [ ]:
b.find('My')

0

In [ ]:
c='   Subham Ghosh   '
print(c)
c.strip()

   Subham Ghosh

'Subham Ghosh'

In [ ]:
s=u'\u0937'
print(s)

ष

In [ ]:
u=u'\u0053\u0075\u0062\u0068\u0061\u006D\u0020\u0047\u0068\u006F\u0073\u0068'
print(u)

Subham Ghosh

In [ ]:
string = "Subham Ghosh"
unicode_points = ''.join(f'\\u{ord(char):04X}' for char in string)
print(unicode_points)

\u0053\u0075\u0062\u0068\u0061\u006D\u0020\u0047\u0068\u006F\u0073\u0068

In [ ]:
v=u'\u0936\u0941\u092D\u092E\u0020\u0918\u094B\u0937'
print(v)

शुभम घोष

In [ ]:
name='Subham'
age=19
print("My name is",name,"and age is",age)
print("My name is %s and age is %d" %(name,age))
print("My name is {} and age is {}" .format(name,age))

My name is Subham and age is 19
My name is Subham and age is 19
My name is Subham and age is 19

In [ ]:
print("Hello {0}, your balance is {1:9.3f}".format("Adam",230.2346))

Hello Adam, your balance is   230.235

In [ ]:
print("Hello {0}, your balance is {1:15.3f}".format("Adam",230.2346))

Hello Adam, your balance is         230.235

In [ ]:
4+6

10

In [ ]:
4/5

0.8

In [ ]:
a=10
b=5

In [ ]:
add=a+b
print("Addition",add)

Addition 15

In [ ]:
subtract=a-b
print("Subtraction:",subtract)

Subtraction: 5

In [ ]:
multiply=a*b
print("Multiplication:",multiply)

Multiplication: 50

In [ ]:
divide=a/b
print("Division:",divide)

Division: 2.0

In [ ]:
h_w="Hello World"
print(h_w)

Hello World

In [ ]:
print(h_w.upper())

HELLO WORLD

In [ ]:
print(h_w.lower())

hello world

In [ ]:
print(h_w.title())

Hello World

In [ ]:
print(h_w.swapcase())

hELLO wORLD

In [ ]:
print("Hello \nWorld")

Hello
World

In [ ]:
print((h_w+" ")*3)

Hello World Hello World Hello World

In [ ]:
a=3
type(3)

int

In [ ]:
b=Subham
type(b)

NameError: name 'Subham' is not defined

In [ ]:
b=NONE

NameError: name 'NONE' is not defined

In [ ]:
b=NONE
print(b)

NameError: name 'NONE' is not defined

In [ ]:
b=None
print(b)
type(b)

None

NoneType

In [ ]:
c=None
print(c)
print(c)

None
None

In [ ]:
print("Hello","World")

Hello World

In [ ]:
d=None
print(d,d)

None None

In [ ]:
print(*object, Sep="Subham", end="Ghosh")

TypeError: print() argument after * must be an iterable, not type

In [ ]:
a=5
b=6
print("The value of a =",a,sep="Subham",end="Ghosh")

The value of a =Subham5Ghosh

In [ ]:
print(*object, sep="Subham", end="Ghosh")

TypeError: print() argument after * must be an iterable, not type

In [ ]:
print('Hello','World',sep="Subham",end="Ghosh\t")
print('Hi', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh	HiGhosh

In [ ]:
print('Hello','World',sep="Subham",end="Ghosh\n")
print('Hi', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh
HiGhosh

In [ ]:
print('Hello','World',sep="Subham",end="Ghosh\n")
print('Hi','Bye', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh
HiSubhamByeGhosh

In [ ]:
num=0o123
print(num)
type(num)

83

int

In [ ]:
num=0x123
print(num)

291

In [ ]:
num=0b101
print(num)

5

In [ ]:
num1=num2=num3=97
print(num1)
print(num2)
print(num3)

97
97
97

In [ ]:
num1,num2,num3=12,24,36
print(num1)
print(num2)
print(num3)

12
24
36

In [ ]:
a=10; print("a=",a); b=20

a= 10

In [ ]:
a=10 print("a=",a) b=20

SyntaxError: invalid syntax (2794129853.py, line 1)

In [ ]:
a=10
b=10.2
c=a+b
print(c)

20.2

In [ ]:
a="Subham"
b=261104
c=a+b
print(c)

TypeError: can only concatenate str (not "int") to str

In [ ]:
a="Subham"
b=str(261104)
print(a+b)

Subham261104

In [ ]:
print('print in "bold" letter')

print in "bold" letter

In [ ]:
print("print in 'Bold' letter")

print in 'Bold' letter

In [ ]:
print('Subham'\n'Ghosh')

SyntaxError: unexpected character after line continuation character (3112113349.py, line 1)

In [ ]:
print('Subham')
print('Ghosh')

Subham
Ghosh

In [ ]:
print('Subham\nGhosh')

Subham
Ghosh

In [ ]:
print('Subham\tGhosh')

Subham	Ghosh

In [ ]:
print('Subham\bGhosh')

SubhaGhosh

In [ ]:
b='''My Name is Subham Ghosh
I study in TE IT class and
Vaishali Maam is teaching us ML'''
print(b)

My Name is Subham Ghosh
I study in TE IT class and
Vaishali Maam is teaching us ML

In [ ]:
b.split()

['My',
 'Name',
 'is',
 'Subham',
 'Ghosh',
 'I',
 'study',
 'in',
 'TE',
 'IT',
 'class',
 'and',
 'Vaishali',
 'Maam',
 'is',
 'teaching',
 'us',
 'ML']

In [ ]:
b.startswith('S')

False

In [ ]:
b.find('My')

0

In [ ]:
c='   Subham Ghosh   '
print(c)
c.strip()

   Subham Ghosh

'Subham Ghosh'

In [ ]:
s=u'\u0937'
print(s)

ष

In [ ]:
u=u'\u0053\u0075\u0062\u0068\u0061\u006D\u0020\u0047\u0068\u006F\u0073\u0068'
print(u)

Subham Ghosh

In [ ]:
string = "Subham Ghosh"
unicode_points = ''.join(f'\\u{ord(char):04X}' for char in string)
print(unicode_points)

\u0053\u0075\u0062\u0068\u0061\u006D\u0020\u0047\u0068\u006F\u0073\u0068

In [ ]:
v=u'\u0936\u0941\u092D\u092E\u0020\u0918\u094B\u0937'
print(v)

शुभम घोष

In [ ]:
name='Subham'
age=19
print("My name is",name,"and age is",age)
print("My name is %s and age is %d" %(name,age))
print("My name is {} and age is {}" .format(name,age))

My name is Subham and age is 19
My name is Subham and age is 19
My name is Subham and age is 19

In [ ]:
print("Hello {0}, your balance is {1:9.3f}".format("Adam",230.2346))

Hello Adam, your balance is   230.235

In [ ]:
print("Hello {0}, your balance is {1:15.3f}".format("Adam",230.2346))

Hello Adam, your balance is         230.235