In [10]:
6*3

18

In [2]:
4+6

10

In [3]:
4/5

0.8

In [4]:
a=10
b=5

In [5]:
add=a+b
print("Addition",add)

Addition 15

In [6]:
subtract=a-b
print("Subtraction:",subtract)

Subtraction: 5

In [7]:
multiply=a*b
print("Multiplication:",multiply)

Multiplication: 50

In [8]:
divide=a/b
print("Division:",divide)

Division: 2.0

In [9]:
h_w="Hello World"
print(h_w)

Hello World

In [11]:
print(h_w.upper())

HELLO WORLD

In [12]:
print(h_w.lower())

hello world

In [13]:
print(h_w.title())

Hello World

In [14]:
print(h_w.swapcase())

hELLO wORLD

In [15]:
print("Hello \nWorld")

Hello
World

In [16]:
print((h_w+" ")*3)

Hello World Hello World Hello World

In [1]:
a=3
type(3)

int

In [3]:
b=Subham
type(b)

NameError: name 'Subham' is not defined

In [5]:
b=NONE

NameError: name 'NONE' is not defined

In [7]:
b=NONE
print(b)

NameError: name 'NONE' is not defined

In [9]:
b=None
print(b)
type(b)

None

NoneType

In [11]:
c=None
print(c)
print(c)

None
None

In [13]:
print("Hello","World")

Hello World

In [15]:
d=None
print(d,d)

None None

In [17]:
print(*object, Sep="Subham", end="Ghosh")

TypeError: print() argument after * must be an iterable, not type

In [19]:
a=5
b=6
print("The value of a =",a,sep="Subham",end="Ghosh")

The value of a =Subham5Ghosh

In [21]:
print(*object, sep="Subham", end="Ghosh")

TypeError: print() argument after * must be an iterable, not type

In [39]:
print('Hello','World',sep="Subham",end="Ghosh\t")
print('Hi', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh	HiGhosh

In [25]:
print('Hello','World',sep="Subham",end="Ghosh\n")
print('Hi', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh
HiGhosh

In [29]:
print('Hello','World',sep="Subham",end="Ghosh\n")
print('Hi','Bye', sep="Subham", end="Ghosh")

HelloSubhamWorldGhosh
HiSubhamByeGhosh

In [37]:
num=0o123
print(num)
type(num)

83

int

In [33]:
num=0x123
print(num)

291

In [35]:
num=0b101
print(num)

5

In [41]:
num1=num2=num3=97
print(num1)
print(num2)
print(num3)

97
97
97

In [43]:
num1,num2,num3=12,24,36
print(num1)
print(num2)
print(num3)

12
24
36

In [45]:
a=10; print("a=",a); b=20

a= 10

In [47]:
a=10 print("a=",a) b=20

SyntaxError: invalid syntax (2794129853.py, line 1)

In [49]:
a=10
b=10.2
c=a+b
print(c)

20.2

In [53]:
a="Subham"
b=261104
c=a+b
print(c)

TypeError: can only concatenate str (not "int") to str

In [55]:
a="Subham"
b=str(261104)
print(a+b)

Subham261104

In [57]:
print('print in "bold" letter')

print in "bold" letter

In [59]:
print("print in 'Bold' letter")

print in 'Bold' letter

In [61]:
print('Subham'\n'Ghosh')

SyntaxError: unexpected character after line continuation character (3112113349.py, line 1)

In [69]:
print('Subham')
print('Ghosh')

Subham
Ghosh

In [71]:
print('Subham\nGhosh')

Subham
Ghosh

In [73]:
print('Subham\tGhosh')

Subham	Ghosh

In [75]:
print('Subham\bGhosh')

SubhaGhosh

In [79]:
b='''My Name is Subham Ghosh
I study in TE IT class and
Vaishali Maam is teaching us ML'''
print(b)

My Name is Subham Ghosh
I study in TE IT class and
Vaishali Maam is teaching us ML

In [81]:
b.split()

['My',
 'Name',
 'is',
 'Subham',
 'Ghosh',
 'I',
 'study',
 'in',
 'TE',
 'IT',
 'class',
 'and',
 'Vaishali',
 'Maam',
 'is',
 'teaching',
 'us',
 'ML']

In [83]:
b.startswith('S')

False

In [85]:
b.find('My')

0

In [89]:
c='   Subham Ghosh   '
print(c)
c.strip()

   Subham Ghosh

'Subham Ghosh'

In [91]:
s=u'\u0937'
print(s)

ष

In [93]:
u=u'\u0053\u0075\u0062\u0068\u0061\u006D\u0020\u0047\u0068\u006F\u0073\u0068'
print(u)

Subham Ghosh

In [95]:
string = "Subham Ghosh"
unicode_points = ''.join(f'\\u{ord(char):04X}' for char in string)
print(unicode_points)

\u0053\u0075\u0062\u0068\u0061\u006D\u0020\u0047\u0068\u006F\u0073\u0068

In [97]:
v=u'\u0936\u0941\u092D\u092E\u0020\u0918\u094B\u0937'
print(v)

शुभम घोष

In [103]:
name='Subham'
age=19
print("My name is",name,"and age is",age)
print("My name is %s and age is %d" %(name,age))
print("My name is {} and age is {}" .format(name,age))

My name is Subham and age is 19
My name is Subham and age is 19
My name is Subham and age is 19

In [105]:
print("Hello {0}, your balance is {1:9.3f}".format("Adam",230.2346))

Hello Adam, your balance is   230.235

In [107]:
print("Hello {0}, your balance is {1:15.3f}".format("Adam",230.2346))

Hello Adam, your balance is         230.235